{{ define "main" }}
<section class="main my-0 py-5" id="gallery">
    <div class="container">
        <div class="row " data-masonry='{"percentPosition": true }'>
            {{ $images := .Resources.ByType "image" }}
            {{ range $images }}
                {{ $resized := .Resize "350x" }}
                <div class="col-6 col-md-4 col-xl-3 pb-3 px-2">
                    <a href="{{ .Permalink }}" data-toggle="lightbox"><img src="{{ $resized.Permalink }}" class="thumb img-fluid"/></a>
                </div>
            {{ end }}    
        </div>
    </div>    
</section>
{{ end }}